
.logotipo {
    display: flex;
    margin: 50px 50px 5px 42%;
    height: 11%;
    width: 15%;
}
.republica{
    font-size: 14px;

}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px!important;
    font-weight: 500!important;
}

.tema {
    font-weight: bold;
    font-size: 20px;
}

header h2 {
    font: 11px "Arial" !important;
    margin: 0px;
}

.table {
    border: 1px solid #000;
    font: 10px 'Arial' !important;
    margin-top: 10px;
    justify-content: center;

}

.table-tri {
    margin-top: 20px;
}

td, th {
    border: 1px solid #000;
}

table td {
    padding: 1px 10px;
}

table th {
    padding: 1px;
    text-align: center;
}

h2 {
    font: 11px "Arial" !important;
    font-weight: bold !important;
    text-align: center !important;
}

th, td {
    font-size: 13px;
    padding: 0;

}

h1, h3 {
    font-size: 14px;
    margin: 2px;
}
